@font-face {
  font-family: 'Europa';
  src: url("../assets//fonts/Europa-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Europa';
  src: url("../assets//fonts/Europa-Regular.ttf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Europa', sans-serif;
  scroll-behavior: smooth;
}

*::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  overflow-x: hidden;
}

h2.section--title {
  font-size: 44px;
  line-height: 57px;
  color: #1a2578;
  font-weight: 700;
}

h2.section--title span {
  color: #bf0830;
}

span.section--subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484c63;
  display: block;
  margin-top: 16px;
}

button.btn {
  padding: 14px 32px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background-color: #bf0830;
}

button.btn:hover {
  background-color: #9d0022;
}

button.btn--white {
  border: 1px solid #bf0830;
  background-color: #fff;
  color: #bf0830;
}

button.btn--white:hover {
  color: #fff;
}

.swipper {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a2578;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d123c;
}

.header {
  padding: 32px 0;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 50;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header--navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--navbar__nav .nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header--navbar__nav .nav--list li:not(:last-child) {
  margin-right: 60px;
}

.header--navbar__nav .nav--list li a {
  font-style: 18px;
  font-weight: 400;
  color: #484c63;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.header--navbar__nav .nav--list li a:hover {
  color: #bf0830;
}

.header--navbar__nav .nav--list li .active {
  color: #bf0830;
}

.header--navbar__nav .btn {
  margin-left: 30px;
}

.header--navbar .nav--icon {
  cursor: pointer;
  display: none;
}

.header--navbar .nav--icon i {
  font-size: 30px;
  color: #1a2578;
}

.header.on-scroll {
  padding: 15px 0;
}

.section-1 {
  padding: 230px 0 0;
  background-image: linear-gradient(252.91deg, #e3e7f6 3.68%, rgba(227, 231, 246, 0) 97.82%);
}

.section-1 .section--banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-1 .section--banner .right--item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
}

.section-1 .section--banner .right--item .item--img {
  width: 100%;
}

.section-1 .section--banner .right--item .item--img img {
  width: 100%;
}

.section-1 .section--banner .left--item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  min-width: 40%;
}

.section-1 .section--banner .left--item .item--title {
  font-size: 48px;
  font-weight: 700;
  color: #1a2578;
  line-height: 62px;
  margin-bottom: 32px;
}

.section-1 .section--banner .left--item .item--subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: #484c63;
  margin-bottom: 40px;
  display: block;
}

.section-1 .section--banner .left--item .item--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-1 .section--banner .left--item .item--btns .btn--white {
  margin-left: 20px;
}

.section-2 {
  padding: 90px 0 100px;
  border-bottom: 1px solid rgba(197, 203, 226, 0.5);
}

.section-2 .section--title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 80px;
}

.section-2 .section--banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 -10px;
}

.section-2 .section--banner .section--banner__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14%;
          flex: 0 0 14%;
  padding: 0 10px;
  text-align: center;
}

.section-2 .section--banner .section--banner__item img {
  max-width: 100%;
}

.section-2 .section--boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 150px;
}

.section-2 .section--boxes .section--boxes__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 54px 0 0;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.08);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.08);
  border-radius: 8px;
  width: 320px;
}

.section-2 .section--boxes .section--boxes__item:not(:last-child) {
  margin-right: 32px;
}

.section-2 .section--boxes .section--boxes__item .item--title {
  font-size: 48px;
  font-weight: 700;
  color: #1a2578;
  line-height: 62px;
  margin-bottom: 18px;
}

.section-2 .section--boxes .section--boxes__item .item--subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: #484c63;
  margin-bottom: 12px;
  display: block;
}

.section-2 .section--boxes .section--boxes__item .item--img {
  width: 100%;
}

.section-2 .section--boxes .section--boxes__item .item--img img {
  max-width: 100%;
}

.section-3 {
  padding: 65px 0 80px;
  background: linear-gradient(268.52deg, #e3e7f6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
}

.section-3 .section--title {
  text-align: center;
}

.section-3 .section--subtitle {
  text-align: center;
  margin-bottom: 90px;
}

.section-3 .with--btns {
  margin-bottom: 40px;
}

.section-3 .btns {
  text-align: center;
}

.section-3 .btns .btn {
  margin-right: 20px;
}

.section-3 .btns .btn a {
  color: #fff;
}

.section-3 .section--banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -18px 100px;
}

.section-3 .section--banner .section--banner__item {
  padding: 0 18px;
  padding-bottom: 38px;
}

.section-3 .section--banner .section--banner__item .item--card {
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
  border-radius: 8px;
  max-width: 344px;
}

.section-3 .section--banner .section--banner__item .item--card .item--card__title {
  font-size: 28px;
  line-height: 31px;
  color: #3a3a3c;
  padding-bottom: 32px;
}

.section-3 .section--banner .section--banner__item .item--card .item--card__text {
  display: block;
  color: #484c63;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

.section-3 .section--banner .section--banner__item .item--card .btn {
  margin-left: 62px;
}

.section-3 .section--banner .section--banner__item .item--card .item--card__img {
  max-width: 100%;
  text-align: center;
}

.section-3 .section--banner .section--banner__item .item--card .item--card__img img {
  max-width: 100%;
}

.section-3 .section--banner .section--banner__item .extra {
  padding: 65px 40px;
}

.section-3 .section--banner .section--banner__item .right--item {
  max-width: 50% !important;
}

.section-3 .section--banner .section--banner__item .right--item .item--img {
  width: 100%;
}

.section-3 .section--banner .section--banner__item .right--item .item--img img {
  max-width: 100%;
}

.section-3 .section--slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-3 .section--slide .section--slide__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.section-3 .section--slide .section--slide__item .section--slide__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 57px;
  color: #1a2578;
  padding-bottom: 16px;
}

.section-3 .section--slide .section--slide__item .section--slide__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484c63;
}

.section-3 .section--slide .section--slide__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.section-3 .section--slide .section--slide__img .item--img {
  width: 100%;
}

.section-3 .section--slide .section--slide__img .item--img img {
  max-width: 100%;
}

.title {
  padding: 190px 0;
  padding-bottom: 140px;
  background: linear-gradient(342.12deg, #e3e7f6 -6.53%, rgba(227, 231, 246, 0) 87.81%);
}

.section-4 {
  padding: 100px 0 120px;
  background: #fff;
}

.section-4 .section--banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-4 .section--banner .section--banner__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.section-4 .section--banner .section--banner__item .section--title,
.section-4 .section--banner .section--banner__item .section--subtitle {
  padding-left: 60px;
  max-width: 410px;
}

.section-4 .section--banner .section--banner__item .product--text {
  max-width: 400px;
}

.section-4 .section--banner .section--banner__item .product--subtitle {
  max-width: 470px;
  padding-bottom: 42px;
}

.section-4 .section--banner .section--banner__item .item--img {
  width: 100%;
}

.section-4 .section--banner .section--banner__item .item--img img {
  max-width: 100%;
}

.section-4 .section--banner .product--webtoffee {
  padding-left: 105px;
}

.white {
  background: #fff;
  padding: 100px 0 0;
}

.banner {
  padding: 150px 0 0;
}

.section-5 {
  padding: 110px 0 165px;
  background: linear-gradient(268.52deg, #e3e7f6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
}

.section-5 .section--banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-5 .section--banner__item_1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
}

.section-5 .section--banner__item_1 .section--title {
  font-weight: 700;
  font-size: 44px;
  line-height: 57px;
  color: #1a2578;
  padding-bottom: 16px;
}

.section-5 .section--banner__item_1 .section--subtitle {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484c63;
  padding-bottom: 50px;
  max-width: 335px;
}

.section-5 .section--banner__item_1 .section--img {
  width: 100%;
  margin-top: 5px;
  padding-left: 70px;
}

.section-5 .section--banner__item_1 .section--img img {
  max-width: 100%;
}

.section-5 .section--banner__item .item--img {
  width: 100%;
}

.section-5 .section--banner__item .item--img img {
  max-width: 100%;
}

.section-6 {
  background: linear-gradient(335.73deg, #e3e7f6 12.46%, rgba(227, 231, 246, 0) 84.19%);
}

.section-6 .section--subtitle,
.section-6 .section--title {
  max-width: 340px !important;
}

.section-6 .btn {
  margin-top: 30px;
}

.footer {
  padding: 55px 0 38px;
  background: #0d123c;
}

.footer .footer--banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer--banner .logo {
  margin-bottom: 25px;
}

.footer .footer--banner .span--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #fff;
  max-width: 280px;
  display: block;
}

.footer .footer--banner .footer--banner__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer--banner .footer--banner__right .right--item:not(:last-child) {
  margin-right: 100px;
}

.footer .footer--banner .footer--banner__right .right--item__title {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 30px;
}

.footer .footer--banner .footer--banner__right .right--item__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer--banner .footer--banner__right .right--item__links a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

.footer .footer--banner .footer--banner__right .right--item__links a:not(:last-child) {
  margin-bottom: 20px;
}

.footer .footer--banner .footer--banner__right .right--item__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer--banner .footer--banner__right .right--item__socials a {
  display: block;
}

.footer .footer--banner .footer--banner__right .right--item__socials a:not(:last-child) {
  margin-right: 15px;
}

.footer .footer--banner .footer--banner__right .right--item__socials a i {
  color: #fff;
  font-size: 18px;
}

.footer .subfooter {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid rgba(197, 203, 226, 0.5);
}

.footer .subfooter .subfooter--banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .subfooter .subfooter--banner span,
.footer .subfooter .subfooter--banner a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

@media screen and (max-width: 991px) {
  .header {
    padding: 15px 0;
  }
  .header .header--navbar__logo img {
    width: 100px;
  }
  .header--navbar__nav .nav--list li:not(:last-child) {
    margin-right: 40px;
  }
  .header--navbar__nav .nav--list li a {
    font-size: 16px;
  }
  button.btn {
    padding: 10px 22px;
  }
  .section-1 .section--banner .left--item .item--title {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 20px;
  }
  .section-1 {
    padding: 140px 0 60px;
  }
  .section-1 .section--banner .left--item .item--subtitle {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .section-2 {
    padding: 40px 0;
  }
  .section-2 .section--title {
    font-size: 26px;
    margin-bottom: 50px;
  }
  .section--boxes__item {
    margin-bottom: 30px;
  }
  .section-3 {
    padding: 50px 0 0;
  }
  h2.section--title {
    font-size: 36px;
    line-height: 44px;
  }
  span.section--subtitle {
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px;
  }
  .section-3 .section--subtitle {
    margin-bottom: 40px;
  }
  .section-3
.section--banner
.section--banner__item
.item--card
.item--card__text {
    font-size: 20px;
    line-height: 28px;
  }
  .item--card {
    margin: 0;
  }
  .section-4 {
    padding: 50px 0;
  }
  .section-5 {
    padding: 50px 0;
  }
  .section-5 .section--subtitle {
    margin-bottom: 50px;
  }
  .footer .footer--banner__right .right--item:not(:last-child) {
    margin-right: 80px;
  }
}

@media screen and (max-width: 767px) {
  button.btn {
    font-size: 14px;
  }
  .section-1 {
    padding: 100px 0 0;
  }
  .section-1 .section--banner .left--item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .section-1 .section--banner .right--item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .section-2 .section--title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 25px;
  }
  .section-2 .section--banner .section--banner__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 20px;
  }
  h2.section--title {
    font-size: 32px;
    line-height: 38px;
  }
  .section-3 .section--banner {
    margin-bottom: 50px;
  }
  .section-3 .section--banner .section--banner__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .section-5 .swiper {
    padding-bottom: 45px;
  }
  .footer .footer--banner__left {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 575px) {
  .header.on-scroll {
    padding: 5px 0 !important;
  }
  .header {
    padding: 10px 0;
  }
  .header .close-btn {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .header .close-btn i {
    font-size: 25px;
    color: #fff;
  }
  .header--navbar .nav--icon {
    display: block;
  }
  .header--navbar__nav {
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    right: -300px;
    background-color: #1a2578;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 100px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header--navbar__nav .nav--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header--navbar__nav .nav--list li {
    margin-bottom: 25px;
  }
  .header--navbar__nav .nav--list li:not(:last-child) {
    margin-right: 0;
  }
  .header--navbar__nav .nav--list li a {
    font-size: 20px;
    color: #fff;
  }
  .header--navbar__nav .btn {
    margin-left: 0;
    font-size: 16px;
  }
  .section-1 {
    padding: 70px 0 0;
  }
  .section-1 .section--banner .left--item .item--title {
    font-size: 28px;
    line-height: 38px;
  }
  .section-1 .section--banner .left--item .item--btns {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-2 {
    padding: 30px 0;
  }
  .section-2 .section--title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .section-2 .section--banner .section--banner__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  h2.section--title {
    font-size: 28px;
    line-height: 34px;
  }
  .section-3 {
    padding: 30px 0 0;
  }
  span.section--subtitle {
    line-height: 18px;
  }
  .section-3 .section--banner .section--banner__item .item--card {
    padding-top: 40px;
  }
  .section-3
.section--banner
.section--banner__item
.item--card
.item--card__logo {
    padding-left: 30px;
    margin-bottom: 30px;
  }
  .section-3
.section--banner
.section--banner__item
.item--card
.item--card__text {
    margin-bottom: 20px;
    padding-left: 30px;
  }
  .section-3 .section--banner .section--banner__item .item--card .btn {
    margin-left: 30px;
  }
  .section-3 .section--banner {
    margin-bottom: 30px;
  }
  .section-4 .section--banner .section--banner__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .section-4 .section--banner .section--banner__item:first-child {
    margin-bottom: 30px;
  }
  .section-5 {
    padding: 30px 0;
  }
  .footer {
    padding: 30px 0;
  }
  .footer .footer--banner__right .right--item:not(:last-child) {
    margin-right: 40px;
  }
  .footer .footer--banner__right .right--item__title {
    margin-bottom: 20px;
  }
  .footer .footer--banner__right .right--item__links a:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer .subfooter .subfooter--banner a,
  .footer .subfooter .subfooter--banner span {
    font-size: 14px;
  }
  .footer .footer--banner .logo {
    margin-bottom: 15px;
  }
  .footer .footer--banner .logo img {
    width: 100px;
  }
}

.open-nav {
  right: 0 !important;
}
/*# sourceMappingURL=about.css.map */