<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="./css/swiper.css" />
    <link rel="stylesheet" href="../css/about page/about.css" />
    <title>About us</title>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="container">
        <nav class="header--navbar">
          <div class="header--navbar__logo">
            <a href="../index.html">
              <img src="../assets/images/logo.svg" alt="logo" />
            </a>
          </div>
          <div class="header--navbar__nav">
            <ul class="nav--list">
              <li><a href="./Products.html">Products</a></li>
              <li><a href="#" class="active">About us</a></li>
              <li><a href="./Contact.html">Contact</a></li>
            </ul>
            <button class="btn">We're hiring</button>
          </div>
          <div class="nav--icon">
            <i class="uil uil-list-ui-alt"></i>
          </div>
        </nav>
      </div>
    </header>
    <!-- Header end -->

    <!-- Main -->
    <main>
      <!-- Section 1 -->
      <section class="section section-1" id="section-1">
        <div class="container">
          <div class="section--banner">
            <div class="section--banner__item left--item">
              <h1 class="item--title">About Mozi</h1>
              <span class="item--subtitle">
                Mozi is a technology company that builds products to simplify
                work. 1.3 million businesses of every size — from startups to
                global brands, use our tools to work better.
              </span>
            </div>
            <div class="section--banner__item right--item">
              <div class="item--img">
                <img
                  src="../assets/images/home/about/section1_main.svg"
                  alt="image"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section 1 end -->

      <!-- Section 2 -->
      <section class="section section-2" id="section-2">
        <div class="container">
          <h2 class="section--title">
            Over <span>1.3 million</span> users and global brands trust us
          </h2>
          <div class="section--banner">
            <div class="section--banner__item">
              <img
                src="../assets/images/home/brand/brand_1.svg"
                alt="brand image"
              />
            </div>
            <div class="section--banner__item">
              <img
                src="../assets/images/home/brand/brand_2.svg"
                alt="brand image"
              />
            </div>
            <div class="section--banner__item">
              <img
                src="../assets/images/home/brand/brand_3.svg"
                alt="brand image"
              />
            </div>
            <div class="section--banner__item">
              <img
                src="../assets/images/home/brand/brand_4.svg"
                alt="brand image"
              />
            </div>
            <div class="section--banner__item">
              <img
                src="../assets/images/home/brand/brand_5.svg"
                alt="brand image"
              />
            </div>
            <div class="section--banner__item">
              <img
                src="../assets/images/home/brand/brand_6.svg"
                alt="brand image"
              />
            </div>
            <div class="section--banner__item">
              <img
                src="../assets/images/home/brand/brand_7.svg"
                alt="brand image"
              />
            </div>
          </div>
          <div class="section--boxes">
            <div class="section--boxes__item">
              <h2 class="item--title">2017</h2>
              <span class="item--subtitle">Founded in</span>
              <div class="item--img">
                <img
                  src="../assets//images/home/about/section2_item1.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="section--boxes__item">
              <h2 class="item--title">44+</h2>
              <span class="item--subtitle">Employees</span>
              <div class="item--img">
                <img
                  src="../assets//images/home/about/section2_item2.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="section--boxes__item">
              <h2 class="item--title">1.3M+</h2>
              <span class="item--subtitle">Active users</span>
              <div class="item--img">
                <img
                  src="../assets//images/home/about/section2_item3.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section 2 end -->

      <!-- Section 3 -->
      <section class="section section-3" id="section-3">
        <div class="container">
          <h2 class="section--title">Our culture code</h2>
          <span class="section--subtitle">
            The values that drive Mozilorians every day.
          </span>
          <div class="section--banner">
            <div class="section--banner__item">
              <div class="item--card">
                <h2 class="item--card__title">Integrity</h2>
                <span class="item--card__text">
                  We value people who live by a strong moral code and act with
                  uncompromising honesty in everything they do.
                  <br />
                  &nbsp;
                </span>
              </div>
            </div>
            <div class="section--banner__item">
              <div class="item--card">
                <h2 class="item--card__title">Accountability</h2>
                <span class="item--card__text">
                  We take ownership of everything we do, including our mistakes.
                  We learn from them so that we can make better mistakes next
                  time.
                </span>
              </div>
            </div>
            <div class="section--banner__item">
              <div class="item--card extra">
                <h2 class="item--card__title">Humility</h2>
                <span class="item--card__text">
                  We value curiosity to learn from anyone, anywhere and the
                  openness to acknowledge differences.
                </span>
              </div>
            </div>
            <div class="section--banner__item">
              <div class="item--card">
                <h2 class="item--card__title">Autonomy</h2>
                <span class="item--card__text">
                  We insist on individuality and care for the goals we achieve,
                  not the procedures or ceremony in getting there.
                </span>
              </div>
            </div>
            <div class="section--banner__item">
              <div class="item--card extra">
                <h2 class="item--card__title">Conscientiousness</h2>
                <span class="item--card__text">
                  We seek to be principled and reliable so that we can always
                  provide value for everyone around us.
                </span>
              </div>
            </div>
            <div class="section--banner__item">
              <div class="item--card extra">
                <h2 class="item--card__title">Contribution</h2>
                <span class="item--card__text">
                  We actively look for opportunities to give back to our team
                  and the world around us.
                </span>
              </div>
            </div>
          </div>
          <div class="section--slide">
            <div class="section--slide__item">
              <h1 class="section--slide__title">Who we are</h1>
              <span class="section--slide__subtitle">
                We are a bunch of thinkers and dreamers, who have come together
                to build products we are proud of. We come from diverse
                backgrounds, work in different agile teams and come together to
                deliver the best technology. <br />
                In 2017, we started as a one-person endeavour by Anvar TK, our
                CEO, in an incubator at National Institute of Technology
                Calicut. Today, we are a growing team of 40+ members with
                offices in London, Bangalore and Calicut.
              </span>
            </div>
            <div class="section--slide__img">
              <div class="item--img">
                <img
                  src="../assets/images/home/about/section4_img.png"
                  alt="image"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Section 3 ends -->

      <!-- Section 4 -->
      <section class="section-4" id="section-4">
        <div class="container">
          <div class="section--banner">
            <div class="section--banner__item">
              <div class="item--img">
                <img
                  src="../assets/images/home/about/section3_img.png"
                  alt="image"
                />
              </div>
            </div>
            <div class="section--banner__item">
              <h2 class="section--title">What we do</h2>
              <span class="section--subtitle"
                >We build meaningful products that help people to simplify work,
                are scalable and can stand the test of time. We strive to
                deliver solutions that can transform how businesses work so that
                they can focus on what matters the most. <br />
                At Mozilor, we see each day as a new opportunity to ideate,
                explore, take risks and learn. And that’s what has helped us
                grow and be the leaders across industries.
              </span>
            </div>
          </div>
        </div>
      </section>
      <!-- Section 4 ends-->

      <!-- Section 5 -->

      <section class="section section-5" id="section-5">
        <div class="container">
          <div class="section--banner">
            <div class="section--banner__item_1">
              <h2 class="section--title">We are hiring!</h2>
              <span class="section--subtitle">
                Help us build tools for the future. We’re looking for curious
                and smart people to join forces with us and grow together.
              </span>
              <button class="btn btn--white">Join the squad</button>
              <div class="section--img">
                <img src="../assets/images/home/about/section5_logo.svg" alt="">
              </div>
            </div>
            <div class="section--banner__item">
              <div class="item--img">
                <img src="../assets/images/home/about/section5.logo.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section 5 ends-->

    </main>
    <!-- Main end -->

    <!-- Footer -->
    <footer class="footer" id="footer">
      <div class="container">
        <div class="footer--banner">
          <div class="footer--banner__left">
            <div class="logo">
              <a href="#"
                ><img
                  src="../assets/images/home/about/footer_logo.svg"
                  alt="footer logo"
              /></a>
            </div>
            <span class="span--text"
              >Mozil builds extensions, plugins and apps to simplify work for
              businesses.
            </span>
          </div>
          <div class="footer--banner__right">
            <div class="right--item">
              <h3 class="right--item__title">Products</h3>
              <div class="right--item__links">
                <a href="#">CookieYes</a>
                <a href="#">Webtoffee</a>
              </div>
            </div>
            <div class="right--item">
              <h3 class="right--item__title">About</h3>
              <div class="right--item__links">
                <a href="#">About us</a>
                <a href="./Career.html">Career</a>
                <a href="./Contact.html">Contact</a>
              </div>
            </div>
            <div class="right--item">
              <h3 class="right--item__title">Follow us</h3>
              <div class="right--item__socials">
                <a href="#"><i class="uil uil-facebook-f"></i></a>
                <a href="#"><i class="uil uil-twitter"></i></a>
                <a href="#"><i class="uil uil-instagram"></i></a>
                <a href="#"><i class="uil uil-linkedin-alt"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subfooter">
        <div class="container">
          <div class="subfooter--banner">
            <span class="">© 2022 Mozi - All right reserved</span>
            <a href="#"> Terms & Conditions </a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer ends -->

    <!-- Js -->
    <script src="../js/swiper.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
