<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="./css/swiper.css" />
    <link rel="stylesheet" href="../css/career page/career.css" />
    <title>Career</title>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="container">
        <nav class="header--navbar">
          <div class="header--navbar__logo">
            <a href="../index.html">
              <img src="../assets/images/logo.svg" alt="logo" />
            </a>
          </div>
          <div class="header--navbar__nav">
            <ul class="nav--list">
              <li><a href="./Products.html">Products</a></li>
              <li><a href="./About.html">About us</a></li>
              <li><a href="./Contact.html">Contact</a></li>
            </ul>
            <button class="btn">We're hiring</button>
          </div>
          <div class="nav--icon">
            <i class="uil uil-list-ui-alt"></i>
          </div>
        </nav>
      </div>
    </header>
    <!-- Header end -->

    <!-- Main -->
    <main>
      <!-- Section 1 -->
      <section class="section section-1" id="section-1">
        <div class="container">
          <div class="section--banner">
            <div class="section--banner__item left--item">
              <h1 class="item--title">Hey, we're looking for</h1>
              <span class="item--subtitle"> Dreamers </span>
              <div class="item--btns">
                <button class="btn btn--white">View open roles</button>
              </div>
            </div>
            <div class="section--banner__item right--item">
              <div class="item--img">
                <img
                  src="../assets/images/home/career/Group 2847.svg"
                  alt="image"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section 1 end -->

      <!-- Section 2 -->
      <section class="section section-2" id="section-2">
        <div class="container">
          <h2 class="section--title">We offer nothing but the best</h2>
          <span class="section--subtitle"
            >We put our people first and have built a culture that brings the
            best out of everyone.</span
          >
          <div class="section--banner">
            <div class="section--banner__item">
              <div class="item--box">
                <div class="item--title">
                  <img
                    src="../assets/images/home/career/flexibility.svg"
                    alt="image"
                  />
                  <span>Flexiblility</span>
                </div>
                <div class="item--subtitle">
                  <span>
                    Be it in-office, WFH or a mix of both, do your best work
                    from wherever you want, because we have a hybrid and
                    flexible work culture.
                  </span>
                </div>
              </div>
            </div>
            <div class="section--banner__item">
              <div class="item--box">
                <div class="item--title">
                  <img
                    src="../assets/images/home/career/Group.svg"
                    alt="image"
                  />
                  <span>Learning</span>
                </div>
                <div class="item--subtitle">
                  <span>
                    We offer plenty of learning opportunities such as
                    professional courses, guided learning and workshops to pick
                    up new skills.
                  </span>
                </div>
              </div>
            </div>
            <div class="section--banner__item">
              <div class="item--box">
                <div class="item--title">
                  <img
                    src="../assets/images/home/career/Group (1).svg"
                    alt="image"
                  />
                  <span>Wellbeing</span>
                </div>
                <div class="item--subtitle">
                  <span>
                    We’ve got your wellbeing covered with medical insurance for
                    employees and dependents, employee loans and paid parental
                    leaves.
                  </span>
                </div>
              </div>
            </div>
            <div class="section--banner__item">
              <div class="item--box">
                <div class="item--title">
                  <img
                    src="../assets/images/home/career/Group (2).svg"
                    alt="image"
                  />
                  <span>Perks</span>
                </div>
                <div class="item--subtitle">
                  <span>
                    We provide great tech like Macbooks and work essentials. To
                    top it, we have yearly company-wide retreats at the best
                    locations!
                  </span>
                </div>
              </div>
            </div>
            <div class="section--banner__item">
              <div class="item--box">
                <div class="item--title">
                  <img
                    src="../assets/images/home/career/Group (3).svg"
                    alt="image"
                  />
                  <span>Growth</span>
                </div>
                <div class="item--subtitle">
                  <span>
                    Get the freedom to run your ideas, take up new job roles and
                    collaborate across teams and chart your career.
                  </span>
                </div>
              </div>
            </div>
            <div class="section--banner__item">
              <div class="item--box">
                <div class="item--title">
                  <img
                    src="../assets/images/home/career/Group (4).svg"
                    alt="image"
                  />
                  <span>Network</span>
                </div>
                <div class="item--subtitle">
                  <span>
                    Build your network and rub shoulders with top teams from the
                    biggest brands and startups in the world.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section 2 end -->

      <!-- Section 3 -->
      <section class="section-4" id="section-4">
        <div class="container">
          <div class="section--banner">
            <div class="section--banner__item">
              <h2 class="section--title">
                Life@<br />
                Mozi
              </h2>
              <span class="section--subtitle"
                >The problems we solve every day could be serious, but we’re
                not! We have a lot of fun because we love what we do and you’re
                welcome to be a part of it.</span
              >
            </div>
            <div class="section--banner__item">
              <div class="item--img">
                <img
                  src="../assets/images/home/career/PHOTO-2022-01-27-13-33-37 1.svg"
                  alt="image"
                />
              </div>
            </div>
            <div class="section--banner__img">
              <div class="section--banner__item">
                <div class="item--img">
                  <img
                    src="../assets/images/home/career/1618542933761 1.png"
                    alt="image"
                  />
                </div>
              </div>
              <div class="section--banner__item">
                <div class="item--img">
                  <img
                    src="../assets/images/home/career/WhatsApp Image 2022-01-26 at 12.58 1.png"
                    alt="image"
                  />
                </div>
              </div>
              <div class="section--banner__item">
                <div class="item--img">
                  <img
                    src="../assets/images/home/career/WhatsApp Image 2022-01-26 at 12.57 1.png"
                    alt="image"
                  />
                </div>
              </div>
              <div class="section--banner__item">
                <div class="item--img">
                  <img
                    src="../assets/images/home/career/WhatsApp Image 2022-01-26 at 12.59 1.png"
                    alt="image"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section 3 ends -->

      <!-- Section 4 -->

      <section class="section section-5" id="section-5">
        <div class="container">
          <div class="section--banner">
            <div class="section--banner__item">
              <div class="item--img">
                <img
                  src="../assets/images/home/career/Group 2844.svg"
                  alt="ellipse"
                />
              </div>
              <h2 class="item--title">
                95% of employees <br />
                recommend Mozi
              </h2>
            </div>
            <div class="section--banner__item_2">
              <span class="section--subtitle"> glassdoor </span>
              <div class="item--banner">
                <span>4.8</span>
                <img
                  src="../assets/images/home/career/Rating.png"
                  alt="rating"
                />
              </div>
              <div class="item--banner__footer">
                <span>Read our reviews</span>
                <i class="uil uil-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <h2 class="section--title">Join the pack</h2>
          <span class="section--subtitle">
            If you’re looking to do the best work of your career, learn and
            grow, then you’ll fit right in at Mozi!
          </span>
          <div class="section--boxes">
            <div class="section--boxes__item">
              <div class="item--box">
                <h2 class="item--title">Front-end Developer</h2>
                <div class="item--footer">
                  <div class="item--footer__icon">
                    <i class="uil uil-clock"></i>
                    <span>Full time</span>
                  </div>
                  <div class="item--footer__icon">
                    <i class="uil uil-map-marker"></i>
                    <span>India</span>
                  </div>
                </div>
              </div>
              <div class="item--box">
                <button class="btn btn--white">View details</button>
              </div>
            </div>
            <div class="section--boxes__item">
              <div class="item--box">
                <h2 class="item--title">PHP Developers (Laravel)</h2>
                <div class="item--footer">
                  <div class="item--footer__icon">
                    <i class="uil uil-clock"></i>
                    <span>Full time</span>
                  </div>
                  <div class="item--footer__icon">
                    <i class="uil uil-map-marker"></i>
                    <span>India</span>
                  </div>
                </div>
              </div>
              <div class="item--box">
                <button class="btn btn--white">View details</button>
              </div>
            </div>
            <div class="section--boxes__item">
              <div class="item--box">
                <h2 class="item--title">Junior Software Developer</h2>
                <div class="item--footer">
                  <div class="item--footer__icon">
                    <i class="uil uil-clock"></i>
                    <span>Full time</span>
                  </div>
                  <div class="item--footer__icon">
                    <i class="uil uil-map-marker"></i>
                    <span>India</span>
                  </div>
                </div>
              </div>
              <div class="item--box">
                <button class="btn btn--white">View details</button>
              </div>
            </div>
            <div class="section--boxes__item">
              <div class="item--box">
                <h2 class="item--title">WordPress Developer + Designer</h2>
                <div class="item--footer">
                  <div class="item--footer__icon">
                    <i class="uil uil-clock"></i>
                    <span>Full time</span>
                  </div>
                  <div class="item--footer__icon">
                    <i class="uil uil-map-marker"></i>
                    <span>India</span>
                  </div>
                </div>
              </div>
              <div class="item--box">
                <button class="btn btn--white">View details</button>
              </div>
            </div>
            <div class="section--boxes__item">
              <div class="item--box">
                <h2 class="item--title">Node.js Developer</h2>
                <div class="item--footer">
                  <div class="item--footer__icon">
                    <i class="uil uil-clock"></i>
                    <span>Full time</span>
                  </div>
                  <div class="item--footer__icon">
                    <i class="uil uil-map-marker"></i>
                    <span>India</span>
                  </div>
                </div>
              </div>
              <div class="item--box">
                <button class="btn btn--white">View details</button>
              </div>
            </div>
            <div class="btns">
              <button class="btn">See more</button>
            </div>
          </div>
        </div>
      </section>
      <!-- Section 4 ends -->

      <!-- Section 5 -->
      <section class="section-6" id="section-6">
        <div class="container">
          <div class="section--banner">
            <div class="section--banner__item">
              <h2 class="section--title">
                Didn’t find what you’re looking for?
              </h2>
              <span class="section--subtitle"
                >We are always on the lookout for great people. Tell us why you
                want to join us.</span
              >
              <div class="btns"><button class="btn">Write to us</button></div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section 5 end -->
    </main>
    <!-- Main end -->

    <!-- Footer -->
    <footer class="footer" id="footer">
      <div class="container">
        <div class="footer--banner">
          <div class="footer--banner__left">
            <div class="logo">
              <a href="#"
                ><img
                  src="../assets/images/home/logo/Group.svg"
                  alt="footer logo"
              /></a>
            </div>
            <span class="span--text"
              >Mozil builds extensions, plugins and apps to simplify work for
              businesses.
            </span>
          </div>
          <div class="footer--banner__right">
            <div class="right--item">
              <h3 class="right--item__title">Products</h3>
              <div class="right--item__links">
                <a href="#">CookieYes</a>
                <a href="#">Webtoffee</a>
              </div>
            </div>
            <div class="right--item">
              <h3 class="right--item__title">About</h3>
              <div class="right--item__links">
                <a href="./About.html">About us</a>
                <a href="#">Career</a>
                <a href="./Contact.html">Contact</a>
              </div>
            </div>
            <div class="right--item">
              <h3 class="right--item__title">Follow us</h3>
              <div class="right--item__socials">
                <a href="#"><i class="uil uil-facebook-f"></i></a>
                <a href="#"><i class="uil uil-twitter"></i></a>
                <a href="#"><i class="uil uil-instagram"></i></a>
                <a href="#"><i class="uil uil-linkedin-alt"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subfooter">
        <div class="container">
          <div class="subfooter--banner">
            <span class="">© 2022 Mozi - All right reserved</span>
            <a href="#"> Terms & Conditions </a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer ends -->

    <!-- Js -->
    <script src="../js/swiper.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
