<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="../css/swiper.css" />
    <link rel="stylesheet" href="../css/contact page/contact.css" />
    <title>Mozi</title>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="container">
        <nav class="header--navbar">
          <div class="header--navbar__logo">
            <a href="../index.html">
              <img src="../assets/images/logo.svg" alt="logo" />
            </a>
          </div>
          <div class="header--navbar__nav">
            <ul class="nav--list">
              <li><a href="./Products.html">Products</a></li>
              <li><a href="./About.html">About us</a></li>
              <li><a href="#" class="active">Contact</a></li>
            </ul>
            <button class="btn">We're hiring</button>
          </div>
          <div class="nav--icon">
            <i class="uil uil-list-ui-alt"></i>
          </div>
        </nav>
      </div>
    </header>
    <!-- Header end -->

    <!-- Main -->
    <main>
      <!-- Section 1 -->
      <section class="section section-1" id="section-1">
        <div class="container">
          <div class="section--banner">
            <div class="section--banner__item left--item">
              <h1 class="item--title">Connect with us</h1>
              <span class="item--subtitle">
                We’d love to hear from you. Fill out this form and we’ll get
                back to you. For job related queries, click on the button below.
              </span>
              <div class="item--btns">
                <button class="btn btn--white">Work with us</button>
              </div>
            </div>
            <div class="section--banner__item right--item">
              <div class="item--img">
                <img
                  src="../assets/images/home/contact/Frame 6633.svg"
                  alt="image"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section 1 end -->

      <!-- Section 2 -->
      <section class="section section-2" id="section-2">
        <div class="container">
          <div class="section--banner">
            <div class="section--banner__item">
              <div class="item--box">
                <label>Name*</label>
                <input type="text" placeholder="" name="name" />
                <label>Email*</label>
                <input type="email" placeholder="" name="email" />
                <label>Subject*</label>
                <input type="text" placeholder="" name="subject" />
                <label>Message*</label>
                <textarea></textarea>
                <div class="btns">
                  <button class="btn">Send</button>
                </div>
                
              </div>
            </div>
            <div class="section--banner__item">
              <div class="item--box__country">
                <div class="item--box__header">
                  <img
                    src="../assets/images/home/contact/uk-flag 1.png"
                    alt="flag 1"
                  />
                  <span>London</span>
                </div>
                <span>
                  Mozi Limited <br> 3 Warren Yard, Wolverton Mill <br> Milton Keynes
                  England <br>  UK – MK12 5NW
                </span>
              </div>
              <div class="item--box__country">
                <div class="item--box__header">
                  <img
                    src="../assets/images/home/contact/indian-flag 1.png"
                    alt="flag 1"
                  />
                  <span>LondonLondon</span>
                </div>
                <span>
                  Mozi Technologies Pvt Ltd <br> First Floor, Sahya Building, Govt. <br>
                  Cyberpark, Nellikode P.O. <br>  Kozhikode, Kerala, India – 673016
                </span>
              </div>
              <div class="item--box__country">
                <div class="item--box__header">
                  <img
                    src="../assets/images/home/contact/indian-flag 1.png"
                    alt="flag 1"
                  />
                  <span>Bengaluru </span>
                </div>
                <span>
                  Mozi Technologies Pvt Ltd <br> Brigade IRV Centre <br> Nallurahalli
                  Whitefield <br>  Bengaluru, Karnataka <br>  India – 560066  
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section 2 end -->
    </main>
    <!-- Main end -->

    <!-- Footer -->
    <footer class="footer" id="footer">
      <div class="container">
        <div class="footer--banner">
          <div class="footer--banner__left">
            <div class="logo">
              <a href="#"
                ><img
                  src="../assets/images/home/logo/Group.svg"
                  alt="footer logo"
              /></a>
            </div>
            <span class="span--text"
              >Mozil builds extensions, plugins and apps to simplify work for
              businesses.
            </span>
          </div>
          <div class="footer--banner__right">
            <div class="right--item">
              <h3 class="right--item__title">Products</h3>
              <div class="right--item__links">
                <a href="#">CookieYes</a>
                <a href="#">Webtoffee</a>
              </div>
            </div>
            <div class="right--item">
              <h3 class="right--item__title">About</h3>
              <div class="right--item__links">
                <a href="./About.html">About us</a>
                <a href="./Career.html">Career</a>
                <a href="#">Contact</a>
              </div>
            </div>
            <div class="right--item">
              <h3 class="right--item__title">Follow us</h3>
              <div class="right--item__socials">
                <a href="#"><i class="uil uil-facebook-f"></i></a>
                <a href="#"><i class="uil uil-twitter"></i></a>
                <a href="#"><i class="uil uil-instagram"></i></a>
                <a href="#"><i class="uil uil-linkedin-alt"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subfooter">
        <div class="container">
          <div class="subfooter--banner">
            <span class="">© 2022 Mozi - All right reserved</span>
            <a href="#"> Terms & Conditions </a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer ends -->

    <!-- Js -->
    <script src="./js/swiper.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
