<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="./css/swiper.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/products/products.scss" />
    <title>Products</title>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="container">
        <nav class="header--navbar">
          <div class="header--navbar__logo">
            <a href="../index.html">
              <img src="../assets/images/logo.svg" alt="logo" />
            </a>
          </div>
          <div class="header--navbar__nav">
            <ul class="nav--list">
              <li><a href="#" class="active">Products</a></li>
              <li><a href="./About.html">About us</a></li>
              <li><a href="./Contact.html">Contact</a></li>
            </ul>
            <button class="btn">We're hiring</button>
          </div>
          <div class="nav--icon">
            <i class="uil uil-list-ui-alt"></i>
          </div>
        </nav>
      </div>
    </header>
    <!-- Header end -->

    <!-- Main -->
    <main>
      <!-- Section 1 -->
      <section class="section section-1" id="section-1">
        <div class="container">
          <div class="section--banner">
            <div class="section--banner__item left--item">
              <h1 class="item--title">
                Tools that transform how businesses work
              </h1>
              <span class="item--subtitle">
                We help manage businesses better with our applications, plugins,
                extensions and offer productive experiences for teams and
                customers alike.
              </span>
            </div>
            <div class="section--banner__item right--item">
              <div class="item--img">
                <img
                  src="../assets/images/home/products/main3.svg"
                  alt="image"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section 1 end -->

      <!-- Section 2 -->
      <section class="section-4 white" id="section-4">
        <div class="container">
          <div class="section--banner">
            <div class="section--banner__item">
              <div class="item--card__logo">
                <img src="../assets/images/home/logo/logo_1.svg" alt="logo" />
              </div>
              <span class="section--subtitle product--text"
                >Build brand trust and minimize legal risks with the
                market-leading consent management platform that helps businesses
                comply with global privacy regulations. Display cookie consent
                banners, manage consent, generate policy documents and
                privacy-proof websites with CookieYes. <br /><br />
                CookieYes is the #1 cookie compliance technology with over 1.2
                million user base, powering global brands to startups across US,
                UK and Europe.</span
              >
              <button class="btn btn--white">Visit cookieYes</button>
            </div>
            <div class="section--banner__item">
              <div class="item--img">
                <img
                  src="../assets/images/home/products/main1.svg"
                  alt="image"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section 2 ends -->

      <!-- Section 3 -->
      <section class="section-4 white banner" id="section-4">
        <div class="container">
          <div class="section--banner">
            <div class="section--banner__item">
              <div class="item--img">
                <img
                  src="../assets/images/home/products/main2.svg"
                  alt="image"
                />
              </div>
            </div>
            <div class="section--banner__item product--webtoffee">
              <div class="item--card__logo">
                <img src="../assets/images/home/logo/logo_2.svg" alt="logo" />
              </div>
              <span class="section--subtitle product--subtitle"
                >Streamline eCommerce businesses and create amazing customer
                experiences with our WordPress/WooCommerce plugins and
                extensions. Manage your day-to-day operations with extensions
                for product imports, smart coupons, payment gateways,
                subscriptions and more. <br /><br />
                WebToffee builds some of the most popular and top-rated plugins
                in the marketplace and powers over 1.3 million online stores and
                websites.
              </span>
              <button class="btn btn--white">Visit Webtoffee</button>
            </div>
          </div>
        </div>
      </section>
      <!-- Section 3 ends -->

      <!-- Section 4 -->
      <section class="section section-3 title" id="section-3">
        <div class="container">
          <h2 class="section--title">
            Want to know how we build <br />
            products for the future?
          </h2>
          <span class="section--subtitle with--btns">
            Then be a part of our remarkable journey and let’s learn together!
          </span>
          <div class="btns">
            <button class="btn">
              <a href="#">About us</a>
            </button>
            <button class="btn btn--white">Join the team</button>
          </div>
        </div>
      </section>
      <!-- Section 4 ends -->

      <!-- Footer -->
      <footer class="footer" id="footer">
        <div class="container">
          <div class="footer--banner">
            <div class="footer--banner__left">
              <div class="logo">
                <a href="#"
                  ><img
                    src="../assets/images/home/logo/Group.svg"
                    alt="footer logo"
                /></a>
              </div>
              <span class="span--text"
                >Mozil builds extensions, plugins and apps to simplify work for
                businesses.
              </span>
            </div>
            <div class="footer--banner__right">
              <div class="right--item">
                <h3 class="right--item__title">Products</h3>
                <div class="right--item__links">
                  <a href="#">CookieYes</a>
                  <a href="#">Webtoffee</a>
                </div>
              </div>
              <div class="right--item">
                <h3 class="right--item__title">About</h3>
                <div class="right--item__links">
                  <a href="./About.html">About us</a>
                  <a href="./Career.html">Career</a>
                  <a href="./Contact.html">Contact</a>
                </div>
              </div>
              <div class="right--item">
                <h3 class="right--item__title">Follow us</h3>
                <div class="right--item__socials">
                  <a href="#"><i class="uil uil-facebook-f"></i></a>
                  <a href="#"><i class="uil uil-twitter"></i></a>
                  <a href="#"><i class="uil uil-instagram"></i></a>
                  <a href="#"><i class="uil uil-linkedin-alt"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="subfooter">
          <div class="container">
            <div class="subfooter--banner">
              <span class="">© 2022 Mozi - All right reserved</span>
              <a href="#"> Terms & Conditions </a>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer ends -->
    </main>
    <!-- Main end -->
     <!-- Js -->
     <script src="../js/swiper.js"></script>
     <script src="./index.js"></script>
  </body>
</html>
